@model MVC_CabServices.Models.CabDisplay

@{
    ViewData["Title"] = "GetCabById";
}

<h1>GetCabById</h1>

<div>
    <h4>CabDisplay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cabid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cabid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CabType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CabType)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CabTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CabTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>*@
    </dl>
</div>
<div>
  @*  @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a asp-action="Index">Back to List</a>
</div>
