@model IEnumerable<MVC_CabServices.Models.TbCab>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddCab">Add Cab</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cabid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CabTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cabid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CabTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Cabid }) |
              @*  @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Cabid  })

                    @* @using (Html.BeginForm("Delete", "Cab", new { id = item.Cabid }, FormMethod.Post, new { onsubmit = "return confirm('Are u sure u want to delete this item?');" })) 
                    
                    {
                        @Html.AntiForgeryToken();
                        <input type="submit" value="Delete"/>
                    }*@
            </td>
        </tr>
}
    </tbody>
</table>
